.carousel-container {
    display: flex;
    background-color: #c7a42b;
    height: 500px;
    width: 250px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 8%;
    }

    .movieItem{
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all 0.3s;
    border-radius: 8%;
    text-align: center;
    color: #c7a42b;
    }


img {
    width: 200px;
    height: 140px;
}

#buttonarrow {

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    }

#buttonarrow button {
    color: #c7a42b;
    font-size: 25px;
    width: 110px;
    border-radius: 100px;
    border-color: #c7a42b;
    background-color: black;
}