.Register {
    position: absolute;
    top: 0%;
    right: 75%;
    /* left: 25%; */
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 168, 62)
   
}

.Login {
    position: absolute;
    top: 17%;
    right: 75%;
    /* left: 25%; */
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 168, 62)
}

.Logout{
    position: absolute;
    top: 10%;
    /* right: 32%; */
    left: 85%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 168, 62)
    
}
.accountpage {
    position: relative;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 20%;
    left: 10%;
    font-size: 200%;
    color: rgb(194, 168, 62)

}

.navigationLinksHome{
    color: rgb(194, 168, 62)
}

.navigationLinksAccount{
    color: rgb(194, 168, 62)
}
#UserList{
    color: rgb(194, 168, 62)
}

.Update{
    position: absolute;
    top: 35%;
    left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 168, 62)
}

.delete{
    position: absolute;
    top: 50%;
    left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 168, 62)
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0px;
    border: 5px solid #C2A83E;
    background-color: aliceblue;
    border-radius: 30%;
    cursor: grab;
    object-fit: cover;
    width: 250px;
    height: 150px;
    opacity: 0.5;
}

.Welcome{
    position: absolute;
    top: 10%;
    right: 41%;
    /* left: 25%; */
    color: rgb(194, 168, 62)
}


#SliderBar{
   display: flex;
   justify-content:right;
   cursor: grab;
   
}

#colortext{
    width: 400px;
    height: auto;
}

#navigationLinksHome{
padding: 5px;
}

#navigationLinksAccount{
padding: 50px;
}

a{
color: black;
font-size: 30px;

}

#SearchBar{
    /* display: flex; */
    height: 50px;
    font-size: 30px;
    text-align: center;
    
}

.SocialMediaLinks{
    display: flex;
    justify-content: space-around; 
}

.SocialMediaLinks img{
    height: auto;
    width: 65px;
    position: absolute;
    bottom: 65px;
    border-radius: 10px;
    
}

.noResults{
    position: absolute;
    top: 27%;
    /* right: 32%; */
    left: 47%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 168, 62)
}


