<<<<<<< HEAD
.register {
    position: relative;
    text-align: 0%;
    position: absolute;
    top: 51%;
    right: 63%;
    
=======
.delete{
    text-align: center;
>>>>>>> 1efb73f85ab63ca00bc76aa2dab3203c176ab36c
}